* {
  box-sizing: border-box;
}
ol {
  color: black;
}
p {
  color: brown;
}
ul {
font-size: 100px;
}
.h2 {
  font-size: 150px;
  color: brown;
}
.logo2 {
  width: 200px;
  height: 200px;
  
}
.floyd {
  width: 700px;
  height: 400px;
}